<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student</title>
</head>

<body>
    <table border="2">
        <thead>
            <th>name</th>
            <th>phone number</th>
            <th>grade</th>
        </thead>
        <%for(i in mydata){%>
            <tr>

                <th>
                    <%=mydata[i].name%>
                </th>
                <th>
                    <%=mydata[i].ph%>
                </th>
                <th>
                    <%=mydata[i].grade%>
                </th>
            </tr>

            <%}%>
</body>

</html>